<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog Single | OneTech</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="OneTech shop project">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'blog_single_styles', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'blog_single_responsive', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <!-- Menu Partials -->
  <%= render 'layouts/navigation' %>

    <%= yield %>

      <!-- Footer Partials -->
      <%= render 'layouts/footer' %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'blog_single_custom', 'data-turbolinks-track': 'reload' %>
</body>

</html>