<meta charset="utf-8">
<title><%= full_title(yield(:title)) %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="upsitec online shop">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'main_style', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'responsive', 'data-turbolinks-track': 'reload' %>

<%= render 'spree/shared/paths' %>
<%= javascript_include_tag 'spree/frontend/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
<%= render 'spree/shared/translations' %>
