<!-- Banner -->

<div class="banner">
  <div class="banner_background banner_background-img-1"></div>
  <div class="container fill_height">
    <div class="row fill_height">
      <div class="banner_product_image"><%=image_tag("backround_wooden_watch.png", alt:"")%></div>
      <div class="col-lg-5 offset-lg-4 fill_height">
        <div class="banner_content">
          <h1 class="banner_text">new era of watches</h1>
          <div class="banner_price"><span>R1300</span>R700</div>
          <div class="banner_product_name">CUCOL Zebra Wood</div>
          <div class="button banner_button"><a href="#">Shop Now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Characteristics -->

<div class="characteristics">
  <div class="container">
    <div class="row">

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">
        
        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><%=image_tag("char_1.png", alt:"")%></div>
          <div class="char_content">
            <div class="char_title">Free Delivery</div>
            <div class="char_subtitle">from R200</div>
          </div>
        </div>
      </div>

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">
        
        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><%=image_tag("char_2.png", alt:"")%></div>
          <div class="char_content">
            <div class="char_title">Return Items</div>
            <div class="char_subtitle">for all prices</div>
          </div>
        </div>
      </div>

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">
        
        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><%=image_tag("char_3.png", alt:"")%></div>
          <div class="char_content">
            <div class="char_title">Guaranteed</div>
            <div class="char_subtitle">Cashback</div>
          </div>
        </div>
      </div>

      <!-- Char. Item -->
      <div class="col-lg-3 col-md-6 char_col">
        
        <div class="char_item d-flex flex-row align-items-center justify-content-start">
          <div class="char_icon"><%=image_tag("char_4.png", alt:"")%></div>
          <div class="char_content">
            <div class="char_title">Live Tracking</div>
            <div class="char_subtitle">for all orders</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
